<!-- 
  results = ce que l'on veut afficher
  view = taille du graphique
  xAxis = afficher l'axe des x -- false par défaut, il faudra donc bien le préciser
  yAxis = afficher l'axe des y -- false par défaut, il faudra donc bien le préciser
  showXAxisLabel = afficher le label de l'axe des x -- false par défaut, il faudra donc bien le préciser
  showYAxisLabel = afficher le label de l'axe des y -- false par défaut, il faudra donc bien le préciser
  xAxisLabel = label de l'axe des x
  yAxisLabel = label de l'axe des y
-->
<h2>Quels sont les motifs d'insatisfaction et comment sont-ils répartis ?</h2>

<ngx-charts-bar-vertical [results]="result" [view]="view" [xAxis]="true" [yAxis]="true" [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel" [showXAxisLabel]="true" [showYAxisLabel]="true"></ngx-charts-bar-vertical>